*
{
	color: lightgray;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	max-width: 98vw;
}

html
{
	font-size: 100%;
	background-color: black;
	overflow-x: hidden;
}

a:link 		{color: royalblue;}
a:visited 	{color: slateblue;}
a:hover 	{color: tomato;}
a:focus 	{color: tomato;}
a:active	{color: whitesmoke;}

#navigation
{
	background-color: rgb(27, 26, 26);
	bottom: 0;
	height: 2rem;
	left: 0;
	margin: 0;
	margin-top: 10rem;
	position: fixed;
	width: 100%;
}

.navlinkContainer
{
	background-color: rgb(27, 26, 26);
	bottom: 0;
	float: left;
	padding-top: .2rem;
	position: relative;
	text-align: center;
	width: 25%;
	margin: 0;
}

.navLink
{
	background-color: inherit;
}

/* TODO consider formatting title bar with a different color */