*
{
	background-color: black;
	color: lightgray;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

html
{
	font-size: 100%;
}

a:link 		{color: royalblue;}
a:visited 	{color: royalblue;}
a:hover 	{color: tomato;}
a:focus 	{color: tomato;}
a:active	{color: whitesmoke;}

#navigation
{
	bottom: 0;
	margin: auto;
	position: fixed;
	width: 100%;
	height: 2rem;
}

.navlinkContainer
{
	bottom: 0;
	float: left;
	position: relative;
	text-align: center;
	width: 24.5%;
}